:root {
	--blue: #58f2d8;
	--pink: #f74b56;
	--black: #181818;
	--darkgrey: #1d1d1d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--black);
	color: #fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: crosshair;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: var(--darkgrey);
	min-width: 80%;
	min-height: 80%;
	border: 1px solid var(--blue);
}

.underline {
	text-decoration: underline;
}

nav {
	width: 100%;
	background: var(--blue);
	top: 0;
	text-align: left;
	padding-left: 8px 10px;
}

nav ul {
}

nav ul li {
	display: inline-block;
	padding: 5px;
	color: var(--black);
}

nav ul li.right {
	float: right;
}

.main-content {
	margin-top: 15%;
}

.main-content h1 {
	font-size: 6rem;
	text-shadow: 0 8px 10px var(--black);
}

.main-content p {
	font-size: 2rem;
}

.special-letter {
	color: var(--pink);
	transition: 0.4s ease-in-out;
	display: inline-block;
	text-shadow: 0 8px 10px black, -5px 0 0 var(--blue);
}

.rl:hover {
	transform: rotate(-7deg);
}

.rr:hover {
	transform: rotate(12deg);
}

[data-title]:hover:after {
	opacity: 1;
	transition: all 0.1s ease 0.5s;
	visibility: visible;
}
/* box for title text */
[data-title]:after {
	content: attr(data-title);
	/* position for title view box */
	position: absolute;
	bottom: -3em;
	left: 0;
	z-index: 99999;
	visibility: hidden;
	/* optional */
	white-space: nowrap;
	/* stilization */
	background-color: var(--blue);
	color: var(--black);
	font-size: 150%;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.342);
	opacity: 0;
	border: 1px solid var(--black);
}
[data-title] {
	position: relative;
}
